.folder {
    color: red;
    border: 1px solid black;
    padding: 16px;
    border-radius: 20px;
}

.file {
    color: blue;
    list-style: none;
}

.main-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}